apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx
  namespace: argo-app
spec:
  project: default
  source:
    repoURL: https://github.com/navneet-bairwal/ArgoCD.git
    targetRevision: HEAD
   # path: guestbook 
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-app
  
  syncPolicy:
    syncOptions:
    - CreateNameSpace=true

    automated:
      selfHeal: true
      prune: true
