apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx
  annotations:
    notifications.argoproj.io/subscribe.on-sync-succeeded.github: "navneet-bairwal github-push for argo"
spec:
  project: default
  source:
    repoURL: https://github.com/navneet-bairwal/ArgoCD.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-app
  
  syncPolicy:
    syncOptions:
    - CreateNameSpace=true

    automated:
      selfHeal: true
      prune: true
